{% load static %}
<div class="modal fade" id="DeleteArticles" tabindex="-1" role="dialog" aria-labelledby="DeleteArticles" aria-hidden="true">
    <div class="modal-dialog modal-sm"">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Articulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger" onclick="ConfirmDeleteArticle()">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>
