{% load static %}
<div class="modal fade" id="CreateArticles" tabindex="-1" role="dialog" aria-labelledby="CreateArticles" aria-hidden="true">
    <div class="modal-dialog">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Articulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="code_articles">Codigo</label>
                            <input type="text" id="code_articles" class="form-control" placeholder="Codigo"/>
                        </div>
                        <div class="col-md-6">
                            <label for="decription_articles">Descripcion</label>
                            <input type="text" id="decription_articles" class="form-control" placeholder="Descripcion"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="code_articles">Precio</label>
                            <input type="number" id="price_article" class="form-control" placeholder="Precio"/>
                        </div>
                        <div class="col-md-3">
                            <label for="decription_articles">Costo</label>
                            <input type="number" id="cost_articles" class="form-control" placeholder="Costo"/>
                        </div>
                        <div class="col-md-3">
                            <label for="code_articles">Estado</label>
                            <input type="checkbox" id="state_arto" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button"  class="btn btn-success" onclick="CreateArticles()">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
