{% extends  "base.html" %}
{% load static %}
<!-- Creating title -->
{% block title %}
    Facturacion
{% endblock title%}

{% block title_page %}
    Facturación
{% endblock %}

{% block content %}
    <div class="container">
        <form>
            <div class="mb-3 row">
                <label for="id_date" class="col-sm-1 col-form-label">Fecha </label>
                <div class="col-sm-11">
                  <input type="text" readonly class="form-control-plaintext" id="id_date">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="code" class="col-sm-1 col-form-label">Codigo</label>
                <div class="col-sm-8">
                    {{code.code}}
                </div>
              </div>
              <div class="mb-3 row">
                <label for="code" class="col-sm-1 col-form-label">IVA</label>
                <div class="col-sm-11">
                    <input type="text" readonly class="form-control-plaintext" id="id_iva">
                  </div>
              </div>
            <div class="container-table">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">{{bills.code_fields}}</th>
                            <th scope="col">{{bills.decription}}</th>
                            <th scope="col">{{bills.amount}}</th>
                            <th scope="col">{{bills.price}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% csrf_token %}
            <div class="container" id="container-datas">
                
            </div>
            <div style="width: 350px" id="container-btn">

            </div>
        </form>
    </div>
{% endblock content %}