{% extends "base.html" %}
{% load static %}
<!-- create title -->
{% block title %}
    Mantenimiento
{% endblock title %}

{% block title_page %}
    Mantenimiento
{% endblock title_page%}

{% block content %}
    <div class="container" style="border: 3px solid red">
        <a class="btn" data-toggle="modal" data-target="#CreateArticles" onclick="ShowModals()">Crear</a>
        <div class="container-table">
            <table class="table" id="table_id">
                <thead class="thead-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Costo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if info != "" %}
                        {% for datas in info %}
                            <tr>
                                <td scope="col">{{datas.codigo}}</td>
                                <td scope="col">{{datas.descripcion}}</td>
                                <td scope="col">{{datas.precio}}</td>
                                <td scope="col">{{datas.costo}}</td>
                                {% if datas.estado == True %}
                                    <td scope="col">Activo</td>
                                    {% else %}
                                    <td scope="col">Inactivo</td>
                                {% endif %}
                                <td scope="col">
                                    <a href="#" class="btn-primary btn text-center" onclick="LoadInfoEdit('{{datas.id}}')"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" class="btn-danger btn text-center" onclick="DeleteArticles('{{datas.id}}')"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% include 'mantenimiento/components/windows_component.html'%}
    {% include 'mantenimiento/components/edit.html'%}
    {% include 'mantenimiento/components/delete.html'%}
{% endblock content %}