{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<title>{% block title %} {% endblock title %}</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fac.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="{% static 'datatables/DataTables/datatables.css'%}" type="text/css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <main class="container-fluid">
		<h2 class="text-center mt-5">{% block title_page %}	{% endblock %}</h2>
        {% block content %}
		
        {% endblock %}
    </main>

{% if request.path == '/facturacion/'%}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/Fac.js'%}"></script>
{% endif %}
{% if request.path == '/mantenimiento/articles/' %}
	<script src="{% static 'datatables/jquery.min.js' %}"></script>
	<script src="{% static 'datatables/DataTables/datatables.js'%}"></script>
	<script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                bPaginate: true,
                bFilter: true,
                bInfo: false,
                bSortable: true,
                bRetrieve: true,
            });
        });
    </script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/Mantenimiento.js'%}"></script>
{% endif %}
</body>
</html>